<% @page_title = @user.name %>

<section class="user-main tile">
  
  <%= render("shared/user", user: @user) %>

  <div class="user-main__items">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "投稿した記事", @user, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "いいねした記事", [:voted, @user], class: "nav-link unactive" %>
      </li>
    </ul>

    <% if @user_items.present? %>
      <% @user_items.each do |item| %>
        <%= render("shared/item", item: item) %>
      <% end %>
      <div class="paginate">
        <%= paginate @user_items %>
      </div>
    <% else %>
      <p class="not-found">投稿された記事はありません</p>
    <% end %>
  </div>
</section>