<section class="item-form tile">
  <%= form_for item do |form| %>
    <%= form.text_field :title, class: "item-form__title form-control", placeholder: "タイトル（30文字以内）" %>
    <div class="item-form__about-markdown">
      <%= link_to "Markdownの書き方", markdown_example_path, target: :_blank%>
    </div>
    <%= form.text_area :body, class: "item-form__body form-control", placeholder: "Markdown記法で記事を書く" %>
    <div class="item-form__submit">
      <%= form.submit btn, class: "btn btn-success item-form__submit_btn" %>
    </div>
  <% end %>
</section>