<% @page_title = @item.title %>

<section class="item-main tile">
  <div class="item-main__header">
    <%= link_to @item.user do %>
      <% if @item.user.profile_image.attached? %>
        <%= image_tag @item.user.profile_image.variant(resize: "100x100"), class: "header_user-img" %>
      <% else %>
        <%= image_tag "user.png", class: "header_user-img" %>
      <% end %>
      <span class="header_user-name"><%= @item.user.name %></span>
    <% end %>
    <span class="header_updated-at"><%= @item.updated_at.strftime("%Y年%m月%d日") %>に更新</span>
  </div>
  <div class="item-main__body">
    <h1 class="body_title"><%= @item.title %></h1>
    <div class="body_buttons">
      <% if is_votable?(@item) %>
        <%= link_to "いいね #{@item.votes.length}", [:like, @item], method: :patch, class: "btn body_vote-btn" %>
      <% else %>
        <%= link_to "いいね #{@item.votes.length}", [:unlike, @item], method: :patch, class: "btn body_vote-btn-active" %>
      <% end %>
      <% if is_auther?(@item) %>
        <div>
          <%= link_to "編集", [:edit, @item], class: "body_edit-btn btn btn-secondary" %>
          <%= link_to "削除", @item, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
    <div class="markdown">
      <%= markdown_to_html(@item.body) %>
    </div>
  </div>
</section>